eureka:
  service-url:
    defaultZone: http://discovery-server:8761/eureka

spring:
  datasource:
    url: jdbc:postgresql://book_service_db:5432/book_service_db
    driver-class-name: org.postgresql.Driver
    username: admin
    password: admin

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: kafka:9092

  cloud:
    stream:
      kafka:
        binder:
          brokers: kafka:9092
      bindings:
        kafkaTest-out-0:
          destination: kafka-test-topic
          contentType: application/json

